@charset "utf-8";

/**********global**********/
html,body,iframe,
div,h1,h2,h3,h4,h5,h6,p,pre,dl,dt,dd,ol,ul,li,
nav,header,footer,section,article,aside,details,summary,
form,label,fieldset,legend,hr,dialog,
canvas,object,embed,progress,audio,video,track,map,area,figure,figcaption,
table,caption,tbody,tfoot,thead,tr,th,td,
span,a,b,strong,em,mark,blockquote,code,del,abbr,dfn,big,small,time,i,acronym,address,cite,ins,kbd,q,samp,sub,sup,tt,var{margin:0; padding:0; border:none}

body{font-size:14px; line-height:22px; letter-spacing:0; font-family:"微软雅黑", "Arial", "Helvetica", "sans-serif"; background:#fff; color:#000; cursor:default; vertical-align:baseline}

:hover{transition-duration:.3s; transition-timing-function:ease; transition-property:none}

h1{font-size:32px; line-height:48px}
h2{font-size:24px; line-height:38px}
h3{font-size:18px; line-height:30px}
h4{font-size:14px; line-height:22px}

ol,ul,dl{list-style:none}

table{border-collapse:collapse; border-spacing:0}

a{text-decoration:none; color:green}
a:link{}
a:visited{}
a:hover{text-decoration:underline; color:#000; transition-property:color, border-color, background-color;}
a:active{}

img{vertical-align:top; border:none; -ms-interpolation-mode:bicubic;}

/*fix*/
.clearfix:after {clear:both;content:" ";display:block;height:0;visibility:hidden;}
.clearfix {zoom:1;}

.txt_left{text-align:left}
.txt_right{text-align:right}
.txt_center{text-align:center}

.widthfull{width:100%}
.widthInit{width:auto}

.none{display:none}
.hide{visibility:hidden}


/**********  **********/
body{margin:20px}
h2{margin-top:30px}
h3{margin-top:30px}
p{margin: 20px 0 0 10px; text-indent: 24px}
.section{margin-top:10px}
code{background:#eee; padding:0 3px; margin:0 3px}

ul{list-style: disc outside; margin: 20px 0 0 34px}
